body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f7f7f7;
}

header {
  color: rgb(80, 80, 90);
}

header h1 {
  margin-bottom: 0;
  color: #770082;
}

hr {
  color: rgb(165, 165, 165);
}

footer {
  padding-top: 25px;
}

.weather-app {
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  display: block;
  margin: 80px auto;
  max-width: 600px;
  padding: 25px 30px;
  border-radius: 7px;
  background-color: #f9f9ff;
}

.search-form {
  background-color: #fdfcfd;
  border-color: #c990cf;
}

.gps-search,
.search-button {
  border-color: #c990cf;
  background-color: #fdfcff;
  transition: all 200ms ease-in-out;
}

.gps-search:hover,
.search-button:hover {
  background-color: #7842a5;
  color: #fff;
}

.gps-search:focus,
.search-button:focus {
  box-shadow: 5px 5px 5px #7842a5;
  background-color: #7842a5;
}

.temperature,
.weather-icon {
  line-height: 1;
}

.temperature {
  font-size: 5rem;
  padding-left: 15px;
}

.filter-sun {
  filter: invert(91%) sepia(15%) saturate(5962%) hue-rotate(338deg)
    brightness(102%) contrast(114%);
}

.filter-night {
  filter: invert(10%) sepia(85%) saturate(2752%) hue-rotate(234deg)
    brightness(91%) contrast(130%);
}

.cloud-filter {
  filter: invert(72%) sepia(81%) saturate(5703%) hue-rotate(215deg)
    brightness(90%) contrast(85%);
}

.rain-filter {
  filter: invert(52%) sepia(6%) saturate(1956%) hue-rotate(192deg)
    brightness(96%) contrast(85%);
}

.snow-filter {
  filter: invert(83%) sepia(10%) saturate(2222%) hue-rotate(197deg)
    brightness(92%) contrast(88%);
}

.units {
  line-height: 2.5;
}

.current-date {
  color: #000;
}

.weather-description ul {
  list-style: none;
  color: rgb(63, 63, 72);
  font-size: 1rem;
  padding-left: 20px;
}

.weather-condition {
  color: #7842a5;
  padding-bottom: 5px;
  font-weight: 600;
}

.weather-condition::first-letter {
  text-transform: capitalize;
}
