body {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  color: rgb(80, 80, 90);
}

header h1 {
  margin-bottom: 0;
  color: rgb(239, 148, 2);
}

hr {
  color: rgb(165, 165, 165);
}

footer {
  padding-top: 25px;
}

.weather-app {
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  display: block;
  margin: 80px auto;
  max-width: 600px;
  padding: 25px 30px;
}

.temperature,
.weather-icon {
  font-size: 5rem;
  line-height: 1;
}

.weather-icon {
  color: rgb(255, 201, 22);
}

.units {
  line-height: 2.5;
}

.current-date {
  color: #000;
}

.weather-description ul {
  list-style: none;
  color: rgb(63, 63, 72);
  font-size: 1rem;
  padding-left: 20px;
}

.weather-condition {
  color: rgb(255, 201, 22);
  padding-bottom: 5px;
  font-weight: 600;
}

.weather-condition::first-letter {
  text-transform: capitalize;
}
