body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f7f7f7;
}

header {
  color: rgb(80, 80, 90);
}

header h1 {
  margin-bottom: 0;
  margin-top: 35px;
  color: #770082;
}

hr {
  color: rgb(165, 165, 165);
}

footer {
  padding-top: 60px;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: default;
  text-decoration: underline;
}

.weather-app {
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  display: block;
  margin: 80px auto;
  max-width: 600px;
  padding: 25px 30px;
  border-radius: 7px;
  background-color: #f9f9ff;
}

.search-form {
  background-color: #fdfcfd;
  border-color: #c990cf;
}

.gps-search,
.search-button {
  border-color: #c990cf;
  background-color: #fdfcff;
  transition: all 200ms ease-in-out;
}

.gps-search:hover,
.search-button:hover {
  background-color: #7842a5;
  color: #fff;
}

.gps-search:focus,
.search-button:focus {
  box-shadow: 5px 5px 5px #7842a5;
  background-color: #7842a5;
}

.temperature,
.weather-icon {
  line-height: 1;
}

.temperature {
  font-size: 5rem;
  padding-left: 15px;
}

.units {
  line-height: 2.5;
}

.units .active {
  color: #000;
  text-decoration: none;
}

.current-date {
  color: #000;
}

.weather-description ul {
  list-style: none;
  color: rgb(63, 63, 72);
  font-size: 1rem;
  padding-left: 20px;
}

.weather-condition {
  color: #7842a5;
  padding-bottom: 5px;
  font-weight: 600;
}

.weather-condition::first-letter {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  margin-top: 40px;
}

.forecast-date {
  color: #8a61ae;
  font-size: 18px;
  margin-bottom: 5px;
}

.forecast-temp {
  font-size: 15px;
  margin-top: 20px;
}

.forecast-temp-min {
  opacity: 0.7;
}
